@import '../../style/variables.scss';

.about_our_beans {
    margin-top: 60px;
    min-height: 460px;
    text-align: center;
    img {
        margin-right: 40px;
    }
    &-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-left: 40px;
            margin-top: 20px;
        }
        &_text {
            margin-left: 20px;
        }
    }
    &-title {
        font-weight: 400;
        font-size: 24px;
    }
    &-descr {
        margin-top: 10px;
        width: 346px;
        font-size: 14px;
    }
}
