.about__us{
    margin-top: 100px;
    min-height: 460px;
    text-align: center;
    &-title {
        font-weight: 400;
        font-size: 24px;
    }
    img {
        margin-top: 20px;
    }
}

.descr {
    display: block;
    margin: 0 auto;
    width: 590px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    p {
        margin-top: 20px;
    }
}