@import '../../style/variables.scss';

.footer {
    height: 150px;
    text-align: center;
    &__menu {
        margin-top: 30px;
        text-align: center;
        font-weight: regular;
        font-size: 12px;
        li {
            display: inline-block;
            margin-right: 25px;
            img {
                height: 35px;
            }
        }
    }
    img {
        margin-top: 20px;
    }
}